.centrar-h1 {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    color: rgb(0, 0, 0);             
   
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}













.mensajeOculto {
    display: none;
    color: red;
}
