.centrar-h1 {
    display: grid;
    place-items: center;
    height: 100vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}













.mensajeOculto {
    display: none;
    color: red;
}
